<!DOCTYPE html>
<html lang="en">
<head>
	<title>Reset Password</title>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Boarder</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
	<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<div id="mainWidth" class="container">
			<div class="navbar-header">
				<button type="button" class="nav navbar-toggle collapsed" data-toggle="collapse" data-target="#navoptions" aria-expanded="false" id="btn">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>

					<div id = "brandDiv" class="col-lg-10 col-md-10 col-sm-9 col-xs-7">
						<h1 id="brandBoarder">Boarder</h1>
					</div>
			</div>
			<div id="optionsContainer">
				<div class="collapse navbar-collapse" id="navoptions">
					<div class="nav navbar-right">
						<ul class="nav navbar-nav">
							<li><a style="color:white" href="/about">About</a></li>
							<li><a style="color:white" href="/login">Log In</a></li>
							<li><a style="color:white" href="/signup">Sign up</a></li>
						</ul>
					</div>
				</div>
			</div>
			
		</div>
		<div id="fpwWidth" class="container">
			<div id="fp_inner" class="centerParent">
				<div class="txt centerChild" id="note_txt">
					<p>
						Enter your new password.
					</p>
				</div>
				<br>
				<form action="/successfulPWreset">
					<input class="inputText" type="text"  id="newpw" placeholder="New password" /><br>
					<input class="inputText" type="text"  id="verifypw" placeholder="Verify password"/><br>
					<button class="btn btn-default" id="cont_btn" >Continue</button><br>
				</form>
			</div>
		</div> 	
</body>
</html>